footer Designed by 
  a(target='_blank' href='https://www.seanericthomas.com') Sean Eric Thomas
  a(target='_blank' href='https://github.com/MongrelArchitect/inventory-app')
    img(
      alt='GitHub logo' 
      title='View project on GitHub' 
      src='/images/github.svg'
    )
