* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: sans-serif;
}

a {
  color: #ffd700;
}

.container {
  background: #008080;
  color: #eef;
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
}
