* {
  box-sizing: border-box;
}

body {
  background: #008080;
  font-family: sans-serif;
}

a {
  color: #ffd700;
}

.container {
  color: #eef;
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
}

.hidden {
  visibility: hidden;
}

.preview {
  height: 200px;
}
